.DS_Store
node_modules
node_modules.zip

**/dist
!/packages/vendor/dist
/doc/**/*.zip
/doc/yx
/doc/ui
/doc/UE
/webpack
/packages/app/config/dev.ts

/server/public
# local env files
.env.local
.env.*.local
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/_book
# 正在编辑的文档
~*


/docs/JllRogen.github.io/*
