<html lang="en">
  <head>
    <title>文字环绕布局</title>
    <style>
      .text-wrapping {
        width: 400px;
        height: 300px;
        font-size: 20px;
        color: #f66;
        word-break: break-all;
      }
      .text-wrapping img {
        margin: 10px;
        height: 200px;
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="text-wrapping">
      <img src="https://static.yangzw.vip/codepen/thor.jpg" />
      XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    </div>
  </body>
</html>
