.product_table_box {
}

.product_table_box .product_table_category_row {
  font-size: 16px;
  font-weight: 600;
}

.product_table_box .product_table_header,
.product_table_product_row span {
  margin-right: 10px;
}
