<html lang="en">
  <head>
    <title>两列布局</title>
    <link rel="stylesheet" href="../reset.css" />
    <style>
      .two-column-layout {
      	width: 400px;
      	height: 400px;
      }

      .left {
      	float: left;
      	width: 100px;
      	height: 100%;
      	background-color: #f66;
      }

      .right {
      	margin-left: 100px;
      	height: 100%;
      	background-color: #66f;
      }
    </style>
  </head>
  <body>
    <div class="two-column-layout" title="两列布局">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </body>
</html>
