<html lang="en">
  <head>
    <title>水平垂直居中布局-不生效（why）</title>
    <link rel="stylesheet" href="../reset.css" />
    <style>
      .center-layout {
        width: 400px;
        height: 400px;
        background-color: #f66;
        line-height: 400px;
        text-align: center;
      }

      .inner {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: #66f;
      }
    </style>
  </head>
  <body>
    <div class="center-layout">
      <div class="inner"></div>
    </div>
  </body>
</html>
