<html lang="en">
  <head>
    <title>水平垂直居中布局</title>
    <link rel="stylesheet" href="../reset.css" />
    <style>
      .center-layout {
        display: table-cell;
        width: 400px;
        height: 400px;
        background-color: #f66;
        vertical-align: middle;
      }

      .inner {
        width: 100px;
        height: 100px;
        background-color: #66f;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <div class="center-layout">
      <div class="inner"></div>
    </div>
  </body>
</html>
