<html lang="en">
  <head>
    <title>三列布局</title>
    <link rel="stylesheet" href="../reset.css" />
    <style>
      .three-column-layout {
      	display: flex;
      	width: 400px;
      	height: 400px;
      }

      .left {
      	width: 50px;
      	background-color: #f66;
      }

      .center {
      	width: 100px;
      	background-color: #3cf;
      }

      .right {
      	flex: 1;
      	background-color: #66f;
      }
    </style>
  </head>
  <body>
    <div class="three-column-layout" title="三列布局">
      <div class="left"></div>
      <div class="center"></div>
      <div class="right"></div>
    </div>
  </body>
</html>
